<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{community}}</title>
</head>
<body>
    {% extends 'home.html' %}
    {% block title %}All Customers{% endblock title %}
    {% block content %}
    <h1>Customers in the Community: {{community}}</h1>
        <ul>
            {% for customer in customers %}
            <li><a href="/{{customer.id}}">{{customer.name}}</a></li>
            {% endfor %}
        </ul>
        <a href="/customers">Back to All Customers</a>
</body>
{% endblock %}
</html>