<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/app.css">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <nav class="navbar">
        <a class="navbar-brand"><img src="{{ url_for('static', filename='assets/images/Worker Man.png') }}" alt="MWC Logo" style="width: 30px;height: 50px;"></a>
          <a href="/">Home</a>
          <a href="/phones">Employees</a>
          <a href="/calls">Call Log</a>
          <div class="dropdown">
            <button class="dropbtn">Customers
              <i class="fa fa-caret-down"></i>
            </button>
          <div class="dropdown-content">
              <a href="/customers/add">Add Customer</a>
              <a href="/customers">Search Customer</a>
          </div>
        </nav>
        <div class="container">
        </table><h1 class ="display-1 text-center">New Call</h1>
            <div class="row justify-content-center">
       <!-- column meduim and above 8 -->
           <div class="col-md-8">
               <form method="POST">
               {{ form.hidden_tag() }}
               {% for field in form if field.widget.input_type != 'hidden'%}
                   <div class = "form-group">
                {{field.label}}
                {{field(class_="form-control")}}
                {% for err in field.errors %}
                   <small class="form-text text-danger">
               {{err}}
                   </small>
           {% endfor %}
                </div>
           {% endfor %}
          <button class="btn  btn-success  btn-lg">Submit</button>
       <a href="/calls" class="btn btn-danger btn-lg">Go Back</a>
      </form>
     </div>
    </div>
   </div>
   </div>
</body>
</html>