<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block title %}All Customers{% endblock title %}
    {% block content %}
    
    <h1>All Customers</h1>
        <ul>
            {% for customer in customers %}
            <li><a href="/{{customer.id}}">{{customer.name}}</a></li>
            {% endfor %}
        </ul>
    
        <h2>Create a New Customer</h2>
    <form action="/customers" method = "POST">
        <input type= "text" placeholder="Name" name="name">
        <input type= "text" placeholder="Address" name="address">
        
        <button>Submit</button>
    </form>
</body>
{% endblock %}
</html>