
  {% extends 'base.html' %}
  {% block title %}Edit Employee{% endblock title %}
  {% block content %}
  <div class="container">
    <h1 class ="display-1 text-center">New Customer</h1>
    <div class="row justify-content-center">
      <div class="col-md-8">

        <!----------- another way of incorporating form information ----------->
        <!-- {{form.name.label(class_="text-info")}}
        {{form.name(class_="form-control form-control-lg")}}
        {{form.state.label(class_="text-danger")}}
        {{form.state(class_="form-control")}} -->
        <form method="POST">
          {{ form.hidden_tag() }}
          {% for field in form if field.widget.input_type != 'hidden'%}
         <div class = "form-group">
          {{field.label}}
          {{field(class_="form-control")}}
          {% for err in field.errors %}
            <small class="form-text text-danger" >
              {{err}}
            </small>
        {% endfor %}
        </div>
        {% endfor %}
        <button>Save</button>

    </form>
   </div>
  </div>
{% endblock %}