{% extends "base.html" %}

{% block content %}
    <h1 style="text-align: center;">New Customer</h1>
    <hr>
    <form action="" method="POST" id="new_customer_form" novalidate>
        {{ form.hidden_tag() }}
        {{ form.customer_info.form.hidden_tag() }}
        {% set customer = form.customer_info %}
        <div class="row" id="customer_and_contact_info">
            <div class="column mx-auto" id="customer_info" style="max-width: 50%;">
                <div class="text-center bg-primary" style="min-width: 390px;padding-top: 1px;">
                    <h2 style="padding-bottom: 5px;">Customer Info</h2>
                    <hr style="margin: 0;">
                </div>
                <table class="table bg-info" style="min-width: 390px;">
                    <tr>
                        <th class="text-center" style="border: none;">Last Name</th>
                        <th class="text-center" style="border: none;">First Name</th>
                    </tr>
                    {% if form.customer_info.last_name.errors %}
                        <tr>
                            <td class="text-center" style="border: none;color: red"><b>{{ form.customer_info.last_name.errors[0] }}</b></td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td class="text-center" style="border: none;">
                            {{ customer.form.last_name }}
                        </td>
                        <td class="text-center" style="border: none;">{{ customer.form.first_name }}</td>
                    </tr>
                    <tr>
                        <td class="text-center" style="border: none;">{{ customer.form.last_name2 }}</td>
                        <td class="text-center" style="border: none;">{{ customer.form.first_name2 }}</td>
                    </tr>
                    <tr>
                        <th class="text-center" style="border: none;">Referral</th>
                        <th class="text-center" style="border: none;">Customer Since</th>
                    </tr>
                    {% if form.customer_info.customer_since.errors %}
                        <tr>
                            <td style="border: none;"></td>
                            <td class="text-center" style="border: none;color: red;"><b>{{ form.customer_info.customer_since.errors[0] }}</b></td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td class="text-center" style="border: none;">{{ customer.form.referral }}</td>
                        <td class="text-center" style="border: none;">{{ customer.form.customer_since }}</td>
                    </tr>
                    <tr>
                        <td style="border: none;padding-bottom: 10px;"></td>
                    </tr>
                </table>
            </div>
                <div class="row" id="phone_info">
                    <div class="column mx-auto" style="max-width: 50%">
                        <div class="text-center bg-primary" style="min-width: 390px;padding-top: 1px;">
                            <h2 style="padding-bottom: 5px;">Phone Numbers
                                <button style="color: lime" type="button" id="add_num"
                                        class="btn btn-sm btn-success-outline">&plus;
                                </button>
                            </h2>
                            <hr style="margin: 0;">
                        </div>
                        <div id="new_phone_fieldset">
                            {% include '_new_customer_phone_field.html' %}
                        </div>
                    </div>

                </div>
                <hr>
                <div class="row" id="email_info">
                    <div class="column mx-auto" style="max-width: 50%">
                        <div class="text-center bg-primary" style="min-width: 390px;padding-top: 1px;">
                            <h2 style="padding-bottom: 5px;">Emails
                                <button style="color: lime" type="button" id="add_email"
                                        class="btn btn-sm btn-outline-success">&plus;
                                </button>
                            </h2>
                            <hr style="margin: 0;">
                        </div>
                        <div id="new_email_fieldset">
                            {% include '_new_customer_email_field.html' %}
                        </div>
                    </div>
                </div>
        </div>
        <hr>
        <div class="row" id="address_info">
            <div class="column mx-auto" style="max-width: 50%">
                <div class="text-center bg-primary" style="min-width: 465px;padding-top: 1px;">
                    <h2 style="padding-bottom: 5px;">Addresses
                        <button style="color: lime;" type="button" id="add_address" class="btn btn-sm btn-link">&plus;
                        </button>
                    </h2>
                    <hr style="margin: 0;">
                </div>
                <div id="new_address_fieldset">
                    {% include '_new_customer_address_field.html' %}
                </div>
            </div>
        </div>
        <hr>
        {{ form.submit_new_customer(class="btn btn-primary form-control") }}
    </form>
    <div style="padding-top: 50px;"></div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $("#add_num").click(function (){

            $.ajax({
                type: 'GET',
                url: '/new_cust_number',
                data: $("#new_customer_form").serialize(),
                success: function(response){
                    console.log("success");
                    $("#new_phone_fieldset").html(response);
                    {#$("#edit_contact_modal").load("customers.html #edit_contact_modal");#}
                }
            });
        });
    </script>
    <script>
        $("#add_email").click(function (){

            $.ajax({
                type: 'GET',
                url: '/new_cust_email',
                data: $("#new_customer_form").serialize(),
                success: function(response){
                    console.log("success");
                    $("#new_email_fieldset").html(response);
                    {#$("#edit_contact_modal").load("customers.html #edit_contact_modal");#}
                }
            });
        });
    </script>
    <script>

        $(document).on('click', '#add_address', function(){

            $.ajax({
                type: 'GET',
                url: '/new_cust_address',
                data: $("#new_customer_form").serialize(),
                success: function(response){
                    console.log("success");
                    $("#new_address_fieldset").html(response);
                    {#$("#edit_contact_modal").load("customers.html #edit_contact_modal");#}
                }
            });
        });
    </script>
    <script>
        $(document).on('change',"#community_selector", function (){

            $.ajax({
                type: 'GET',
                url: '/new_cust_community',
                data: $("#new_customer_form").serialize(),
                success: function(response){
                    console.log("success");
                    $("#new_address_fieldset").html(response);
                    {#$(document).load("#change_sub_communities")#}
                    {#$("#edit_contact_modal").load("customers.html #edit_contact_modal");#}
                }
            });
        });
    </script>
    <script>
        $(document).on('change',"#sub_community_selector", function (){

            $.ajax({
                type: 'GET',
                url: '/new_cust_community',
                data: $("#new_customer_form").serialize(),
                success: function(response){
                    console.log("success");
                    $("#new_address_fieldset").html(response);
                    {#$(document).load("#change_sub_communities")#}
                    {#$("#edit_contact_modal").load("customers.html #edit_contact_modal");#}
                }
            });
        });
    </script>
{% endblock %}